<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav class="app-sidenav" #sidenav>
    <mat-toolbar color="accent">Dashboard</mat-toolbar>
    <mat-list>
      <a mat-list-item [routerLink]="link.url" *ngFor="let link of links"> {{link.name}} </a>
    </mat-list>
  </mat-sidenav>
  <div class="app-sidenav-content">
    <app-toolbar (toggleSideNav)="sidenav.toggle()"></app-toolbar>

    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-sidenav-container>
