<div class="limiter">
  <div class="container-login">
    <mat-card>
    <div class="mat-elevation-z8" *ngIf="loader">
      <div class="loading-shade">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </div>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" class="form-container" novalidate (ngSubmit)="onSubmit()">

          <mat-form-field color="accent">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">
              Email is required !
            </mat-error>
          </mat-form-field>

          <div>
            <button mat-raised-button [disabled]="form.invalid" class="btn-block" type="submit" color="accent">Submit</button>
          </div>
        </form>
      </mat-card-content>
        <button mat-raised-button color="accent" class="btn-block btn-login" [routerLink]="['/login']">Login</button>
    </mat-card>
  </div>
</div>
