<div *ngIf="loader" class="mat-elevation-z8">
  <div class="loading-shade">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>

<mat-card *ngIf="invoice && !loader">
  <mat-card-title> {{invoice.item}} </mat-card-title>
  <mat-card-content>
    <table>
      <tr>
        <th>Date</th>
        <td> {{invoice.date | date}} </td>
      </tr>
      <tr>
        <th>Due</th>
        <td> {{invoice.due | date}} </td>
      </tr>
      <tr>
        <th>Qty</th>
        <td> {{invoice.qty}} </td>
      </tr>
      <tr *ngIf="invoice.rate">
        <th>Rate</th>
        <td> {{invoice.rate}} </td>
      </tr>
      <tr *ngIf="invoice.tax">
        <th>Tax</th>
        <td> {{invoice.tax}} </td>
      </tr>
      <tr>
        <th>Client Name</th>
        <td> {{invoice.client.firstname}} {{invoice.client.lastname}} </td>
      </tr>
      <tr>
        <th>Client Email</th>
        <td> {{invoice.client.email}} </td>
      </tr>
      <tr>
        <th>Total</th>
        <td> {{total}} </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="edit(invoice._id)"> Edit</button>
    <button mat-button> Download</button>
  </mat-card-actions>
</mat-card>
