<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="form" class="form-container" novalidate (ngSubmit)="onSubmit()">
  <mat-form-field color="accent">
    <input matInput placeholder="First Name" formControlName="firstname">
    <mat-error *ngIf="form.controls.firstname.invalid && form.controls.firstname.touched">
      First Name is required !
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Last Name" formControlName="lastname">
    <mat-error *ngIf="form.controls.lastname.invalid && form.controls.lastname.touched">
      Last Name is required !
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">
      Email is required !
    </mat-error>
  </mat-form-field>

  <div>
    <button mat-raised-button [mat-dialog-close]="form.value" [disabled]="form.invalid" type="button" color="accent">
      Save
    </button>&nbsp;
    <button mat-raised-button type="reset">Cancel</button>
  </div>
</form>
